.square {
  background: #fff;
  border: 1.5px solid #eba67b;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  width: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:hover {
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.win {
  background-color: #c9896ee1;
  color: #f9f7f7;
}
